<div class="container">
    <div class="row justify-content-center d-flex">
        <div class="col-xs-12 text-center" id="top-bar">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/da/Burger.svg"></img>
            <h1>EAT DA BURGER!</h1>

        </div>
    </div>
    <div class="row justify-content-center d-flex">

        <div class="col-3 text-center" class="task">
            {{#each burger_data}}
            {{#unless this.devoured}}

            <div class="col-xs-9 text-center">
                <pre>{{this.id}}. {{this.burger_name}}</pre>
            </div>
            <div class="col-xs-3 text-center">
                <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                    <input type="hidden" name="burger_id" type="text" value={{this.id}}>


                    <br />
                    <button type="submit" class="btn btn-primary">EAT DA BURGER!</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>



        <div class=" col-3">

            <div class="col-xs-12 text-center enter_selection">
                <form action="/burgers/create" method="POST">
                    <input type="text" name="burger_name" class="form-control" value="" id="enter_text" />
                    <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>

                </form>

            </div>
            <p>Enter your favorite burger into the database</p>
        </div>

        <div class="col-3 text-center task">
            {{#each burger_data}}
            {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly />
            {{/if}}
            {{/each}}
        </div>
    </div>

</div>
</div>

<br />